

@font-face {
    font-family: "StrangerOutline";
    src: url("./Stranger Things Outlined.ttf") format("truetype");
}
@font-face {
    font-family: "QuotexFont";
    src: url("./Quotex.otf") format("opentype");
}

*

{
	margin: 0;
	padding: 0;
}
/*code for home page*/
#banner
{
	background: linear-gradient(rgba(0,0,0,0.5),#000000),url(photos/front.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
}
.logo
{
	width: 200px;
	position: absolute;
	top:1%;
	left: 2%;
}
.banner-text{
	text-align: center;
	color: rgba(253, 253, 253, 0.819);
	padding-top:180px;
}
.banner-text h1
{
	font-size: 130px;
	font-family: "StrangerOutline", sans-serif;
	/*font-family: "QuotexFont", sans-serif;*/
}
.banner-text p
{
	font-size: 25px;
	font-style: italic;
	font-weight: bold ;
	color: rgb(255, 255, 255)
}
.banner-btn
{
	margin-top: 50px;
} 
.banner-btn a
{
	width: 150px;
	text-decoration: none;
	color: white;
	font-weight: bold;
	display: inline-block;
	margin: 0 10px;
	padding: 12px 0;
	border: 2px solid white;
	position: relative;
	z-index: 1;

} 
.banner-btn a span{
	width: 0%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: white;
	z-index: -1;
	transition: 0.5s;
}
.banner-btn a:hover span
{
	width: 100%;
}
.banner-btn a:hover 
{
	color: black;
	font-weight: bold;
	
}
#navigation{
	
	width: 200px;
	height: 100vh;
	position: fixed;
	right: 0;
	top: 0;
	background: #d89dcf;
	z-index: 2;

}
nav ul li
{
	list-style: none;
	margin: 50px 20px;

}
nav ul li a
{
	
	text-decoration: none;
	color : white;
	font-weight: bold;
	

}
#menubtn{
	width:50px;
	height: 50px;
	background: #d89dcf;
	text-align: center;
	position: fixed;
	right: 30px;
	top: 20px;
	z-index: 3;
	cursor: pointer;
	border-radius: 3px;

}


#menubtn img
{
	width: 20px;
	margin: 15px;
}
/*end of code for home page*/
@media screen and (max-width: 770px)
{
	.banner-text h1
{
	font-size: 44px;
	
}
.banner-btn a
   {
	display: block;
	margin: 20px auto;
  } 
}
/* features*/
#feature
{
width:100%;
padding: 60px 0;
}
.title-text
{
	text-align: center;
	padding-bottom: 70px;
}
.title-text p {
margin: auto;
font-size: 20px;
color: #009688;
font-weight: bold;
position: relative;
z-index: 1;
display: inline-block;
}
.title-text p::after{
	content: '';
	width: 50px;
	height: 35px;
	background: linear-gradient(#019587,#fff);
	position: absolute;
	top: -20;
	left: 0;
	z-index: -1;
	transform: rotate(10deg);
	border-top-left-radius: 35px;
}

.title-text h1{

	font-size: 50px;
	font-weight: bold;
}
.feature-box
{
	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.features{
	flex-basis: 50%;
	text-align: left;
	margin-bottom: 25px;
	margin-top: 0;
	
}
.features-img
{
	flex-basis: 50%;
	margin-left: auto;
	align-self:flex-start;
	margin-top: 0;
}
.features-img img
{
width: 85%;
border-radius: 10px;


}
.features h1{
	 text-align: left;
	margin-bottom: 10px;
	font-weight: 10;
	color: #009688;
}
.features-description{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	}
	.features-text p{
		padding: 0 20px;
		font-weight: bold;
		text-align: initial;
	}
	@media screen and (max-width: 770px){
		.title-text h1{
			font-size: 35px;
		}
.features{
	flex-basis: 100%;
	
}
.features-img
{
	flex-basis: 100%;
	
}
.features-img img
{
width: 100%;

}
.features-text p{
		text-align: justify;

	}
}
/* features*/


/*services*/
#service{
	width: 100%;
	padding: 70px 0;
	background: #efefef;


}
.service-box{
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: auto;

}
.single-service{
	flex-basis: 48%;
	text-align: center;
	border-radius: 7px;
	margin-bottom: 20px;
	color: white;
	position: relative;
	
}
.single-service img{
	width: 100%;
	height: 260px;
	border-radius: 7px;
	object-fit: cover;

}
.overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	border-radius: 7px;
	cursor: pointer;
	background: linear-gradient(rgba(0,0,0,0.5),#000000);
	opacity: 0;
	transition: 1s;

}
.single-service:hover .overlay
{
	opacity: 1;

}
.service-description{
	width: 80%;
	position: absolute;
	bottom: 0%;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: 1s;
}
.service-description p
{
	font-weight: bold;
	font-size: 14px;
}
hr{
	background: white;
	height: 2px;
	border: 0;
	margin: 15px auto;
}
.single-service:hover .service-description
{
	bottom: 40%;
	opacity: 1;
}
@media screen and (max-width: 770px){
	.single-service{
	flex-basis: 100%;
	margin-bottom: 30px;
	
	
}
.service-description p
{
	font-size: 12px;
}
hr{
	
	margin: 5px auto;
}
.single-service:hover .service-description
{
	bottom: 50% !important;
	
}

}


/*services*/

/*feedback*/
#feedback
{
	width: 100%;
	padding: 70px 0;

}
.feedback-row{
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;

}
.feedback-col{
	flex-basis: 28%;
	padding: 10px;
	margin-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0 10px 20px 3px grey;
	cursor: pointer;
	transition: transform 0.5s;
}
.feedback-col p
{
	font-weight: bold;
	text-align: justify;
	font-size: 14px;

}
.user
{
	display: flex;
	align-items: center;
	margin: 20px 0;

}
.user img
{
	width: 42px;
	margin-right: 20px;
	border-radius: 200px;
	
}
.user-info small{
	color: #009688;
	font-weight: bold ;
}
.feedback-col:hover{
	transform: translateY(30px);
}
@media screen and (max-width: 770px)
{
	.feedback-col
	{
		flex-basis: 100;

	}
}

/*feedback end*/

/*footer start*/
#footer
{
	padding: 100px 0 20px;
	background: #efefef;
	position: relative;
}
.footer-row
{
	
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer-left, .footer-right
{
	flex-basis: 45%;
	padding: 10px;
	margin-bottom: 20px;
	font-weight: bold;

}
 .footer-right
 {
	text-align: right;
 }
 .footer-row h1{
	margin: 10px 0;

 }
 .footer-row p {
	line-height: 35px;

 }
 .footer-img
 {
	max-width: 370px;
	opacity: 0.2;
	position: absolute;
	left:50%;
	top:35%;
	transform: translate(-50%,-50%);

 }
 @media screen and (max-width: 770px)
 {
	.footer-left,.footer-right
	{
		flex-basis: 100%;
		font-size: 13px;

	}

	

 }
 #cart{
	width: 100%;
	padding: 70px 0;
	background: #efefef;


}
.service-box{
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: auto;

}
.single-service{
	flex-basis: 48%;
	text-align: center;
	border-radius: 7px;
	margin-bottom: 20px;
	color: white;
	position: relative;
	
}
.single-service img{
	width: 100%;
	height: 260px;
	border-radius: 7px;
	object-fit: cover;

}
.overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	border-radius: 7px;
	cursor: pointer;
	background: linear-gradient(rgba(0,0,0,0.5),#000000);
	opacity: 0;
	transition: 1s;

}
.single-service:hover .overlay
{
	opacity: 1;

}
.service-description{
	width: 80%;
	position: absolute;
	bottom: 0%;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: 1s;
}
.service-description p
{
	font-weight: bold;
	font-size: 14px;
}
hr{
	background: white;
	height: 2px;
	border: 0;
	margin: 15px auto;
}
.single-service:hover .service-description
{
	bottom: 40%;
	opacity: 1;
}
@media screen and (max-width: 770px){
	.single-service{
	flex-basis: 100%;
	margin-bottom: 30px;
	
	
}
.service-description p
{
	font-size: 12px;
}
hr{
	
	margin: 5px auto;
}
.single-service:hover .service-description
{
	bottom: 50% !important;
	
}

}

 html{
	scroll-behavior: smooth;
 }
